@import './abstracts/abstracts';
@import './layout/layout';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .nav-item {
      button {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background-color: #e7e7e7;
        border-radius: 4px;
        &:hover {
          background-color: darken(#e79f9f, 10%);
        }
      }
  
      &.login {
        align-self: flex-end;
      }
    }
  }
  