.scraper {
    padding: 0 0 8rem;
  
    header {
      margin-bottom: -8.4rem;
    }
  
    .hero {
      // Background styling
      @include background(0, 'hero_3.jpg', no-repeat, center, cover);
      width: 100%;
      height: 50rem;
      padding-top: 8.4rem;
  
      .layout {
        .center-block {
          // Center the block
          @include center(column, 0, 0);
  
          .white-block {
            margin-top: 8rem;
            background: white; // Set background color to white
            padding: 2rem; // Add padding
            border-radius: 0.8rem; // Add border radius
            box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.3); // Add box shadow
            max-width: 100rem; // Set maximum width
  
            .filters {
              // Add additional styling if needed
              .btn {
                // Button styling
                appearance: none;
                border: none;
                padding: 1rem 3rem;
                border-radius: 0.6rem;
                background: $accent; // Use accent color defined elsewhere or specify the color directly
                font-size: 1.6rem;
                color: $white; // Use white color defined elsewhere or specify the color directly
                height: 4.2rem;
                cursor: pointer;
                transition: filter 0.3s;
                width: 30%;
                margin-top: 1rem; // Add margin-top to separate from other elements
  
                &:hover {
                  filter: brightness(1.4);
                }
              }
            }
          }
        }
      }
    }
  }
  